/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 970px;
  padding-left: 30px;
}


svg {
    margin: 0 auto;
    display: inherit;
}

.states path {
    fill: #ccc;
    stroke: #fff;
}

path.arc {
    pointer-events: none;
    fill: none;
    stroke: #000;
    display: none;
}

path.cell {
    fill: none;
    pointer-events: all;
}

.arcs path {
    opacity: 0.7;
    stroke: #FF6700;
    pointer-events: all;
    fill: none;
    display: none;
    cursor: pointer;
}

.arc-legend .swatch {
    opacity: 0.7;
    stroke: #FF6700;
    pointer-events: none;
}

.arcs path:hover {
  stroke: #225ea8;
}

.arcs .great-arc-end {
    fill: #FF6700;
}

.airports {
    cursor: pointer;
}

.airports, .airport-legend .swatch {
  opacity: 1;
  stroke: white;
  stroke-width: 1px;
}

.out-airport {
  fill: #225ea8;
}

.out-airport:hover {
    fill: #004E98;
}

.out-airport-legend .swatch {
  fill: #225ea8;
}

.out-airport.selected {
    fill: #004E98;
    opacity: 1;
}

.in-airport {
    display: none;
    fill: #D15500;
}

.in-airport:hover {
    fill: #A34200;
}

.in-airport.selected {
    fill: #A34200;
    opacity: 1;
}

.in-airport-legend {
    display: none;
}

.in-airport-legend .swatch {
    fill: #D15500;
}

div.airport-tooltip {
    position: absolute;
    text-align: left;
    padding: 5px;
    background: white;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
}

div.arc-tooltip {
    position: absolute;
    text-align: left;
    padding: 5px;
    background: white;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
}

.airport-name,
.arc-name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.airport-city-name {
    font-size: 12px;
    color: #272727;
    margin-bottom: 5px;
}

.controls-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 15px;
  height: 500px;
  background: white;
}

.controls-container h4 {
    font-weight: 700;
    margin-top: 0;
}

.controls-container h5 {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 15px;
}

.controls-container .slider-control {
    margin-bottom: 25px;
}

.slider-control {
    margin: 0 15px;
}

.slider-label {
    font-size: 12px;
}

.selectize-input {
    max-height: 65px;
    overflow-y: scroll;
}


/* The switch - the box around the slider */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    margin-left: 55px;
    margin-top: 10px;
}

.toggle-switch:before {
    content: 'Outgoing';
    font-size: 12px;
    font-weight: 400;
    left: -53px;
    top: 4px;
    position: absolute;
}

.toggle-switch:after {
    content: 'Incoming';
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    right: -55px;
    top: 4px;
}


/* Hide default HTML checkbox */

.toggle-switch input {
    display: none;
}


/* The slider */

.toggle-slider {
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #225ea8;
  -webkit-transition: .3s;
  transition: .3s;
}

.toggle-slider:before {
    border-radius: 4px;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .toggle-slider {
    background-color: #D15500;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .toggle-slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

.map-container-outer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.noUi-horizontal .noUi-handle {
  cursor: pointer;
}

.selectize-control.multi .selectize-input [data-value] {
  background-image:none;
  color: white;
  text-shadow: none;
  box-shadow: none;
  background: #1d91c0;
}

.reset-button {
  background: #225ea8;
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 87.5%;
}

.noUi-handle:after,
.noUi-handle:before {
    background: transparent;
    box-shadow: none;
}

.noUi-connect {
  background-color: #225ea8;
  box-shadow: none;
}

.noUi-handle {
  border: 1px solid #ccc;
  box-shadow: none;
  background: #f8f8f8;
}

.month-container {
  margin-top: 30px;
}

#skipstep {
  margin-left: 39px;
  margin-right: 51px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/************************************
Month View Styles
************************************/

.monthView {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 20px;
}

.clear {
    stroke: #000000;
    stroke-width: 1px;
    z-index:-9000;
}

.activeMonthView {
    stroke-width: 0px !important;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

    .noUi-background {
        background-color: black;
    }
    
    .mono {
        font-size: 150px;
        font-family: Consolas, courier;
        fill: #aaa;
    }